{% load i18n static %}
<div class="related-widget-wrapper" {% if not model_has_limit_choices_to %}data-model-ref="{{ model_name }}"{% endif %}>
    {{ rendered_widget }} 
    {% block links %}
        {% spaceless %}
        {% if not is_hidden %}
        {% if can_change_related %}
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            data-popup="yes"
            title="{% blocktranslate %}Change selected {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="" width="20" height="20">
        </a>
        {% endif %}
        {% if can_add_related %}
        <a class="related-widget-wrapper-link add-related" id="add_id_{{ name }}"
            data-popup="yes"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktranslate %}Add another {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="" width="20" height="20">
        </a>
        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            data-popup="yes"
            title="{% blocktranslate %}Delete selected {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="" width="20" height="20">
        </a>
        {% endif %}
        {% if can_view_related %}
          <a class="related-widget-wrapper-link view-related" id="view_id_{{ name }}"
             data-href-template="{{ change_related_template_url }}?{{ view_related_url_params }}"
             title="{% blocktranslate %}View selected {{ model }}{% endblocktranslate %}">
            <img src="{% static 'admin/img/icon-viewlink.svg' %}" alt="" width="20" height="20">
          </a>
        {% endif %}
        {% endif %}
        {% endspaceless %}
    {% endblock %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const renderedWidgets = document.querySelectorAll(".related-widget-wrapper");

        function applyStyles(widget) {
            // Adiciona classes do Bootstrap aos elementos de formulário dentro do widget específico
            widget.querySelectorAll("select").forEach(select => {
                if (!select.classList.contains("form-select")) {
                    select.classList.add("form-select");
                }
            });

            widget.querySelectorAll("input[type='text']").forEach(input => {
                if (!input.classList.contains("form-control")) {
                    input.classList.add("form-control");
                }
            });

            // Seleciona "Choose" e "Remove" usando as classes e substitui pelo ícone no widget específico
            const chooseLink = widget.querySelector(".selector-add");
            const removeLink = widget.querySelector(".selector-remove");

            if (chooseLink) {
                chooseLink.classList.remove("selector-add"); // Remove classe padrão
                chooseLink.innerHTML = '<i class="bi bi-arrow-right"></i>'; // seta para direita
            }

            if (removeLink) {
                removeLink.classList.remove("selector-remove"); // Remove classe padrão
                removeLink.innerHTML = '<i class="bi bi-arrow-left"></i>'; // seta para esquerda
            }
        }

        // Aplica o estilo em cada widget relacionado
        renderedWidgets.forEach(applyStyles);

        // Observa mudanças em cada widget e aplica estilos novamente, mas desativa após a aplicação inicial
        renderedWidgets.forEach(widget => {
            const observer = new MutationObserver(function(mutationsList, observer) {
                applyStyles(widget);
                observer.disconnect(); // Desativa o observer após a primeira aplicação
            });

            observer.observe(widget, { childList: true, subtree: true });
        });
    });
</script>

