{% load %}
{% for menu in menu_items %}
  {% if menu.children %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="{{ menu.icon|default:'bi bi-gear'}} me-2" data-bs-toggle="tooltip" data-bs-title="{{ menu.title }}"></i>
        <span class="sidenav-collapsible collapse collapse-horizontal show">{{ menu.title }}</span>
      </a>
      <ul class="dropdown-menu">
        {% for child in menu.children %}
          {% if child.view_name %}
            {% url child.view_name as local_url %}
          {% endif %}
          <li>
            <a class="dropdown-item" href="{% firstof local_url child.external_url '/' %}{% if child.querystr %}?{{ child.querystr }}{% endif %}">
              <i class="{{ child.icon|default:'invisible' }} me-2"></i>
              {{ child.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    {% if menu.view_name %}
      {% url menu.view_name as local_url %}
    {% endif %}
    <li class="nav-item">
      <a class="nav-link{% if item_url in request.path %} active{% endif %}" href="{% firstof local_url child.external_url '/' %}{% if menu.querystr %}?{{ menu.querystr }}{% endif %}">
        <i class="{{ menu.icon|default:'bi bi-gear'}} me-2" data-bs-toggle="tooltip" data-bs-title="{{ menu.title }}"></i>
        <span class="sidenav-collapsible collapse collapse-horizontal show">{{ menu.title }}</span>
      </a>
    </li>
  {% endif %}
{% endfor %}
