{% load i18n static %}
{% if cl.search_fields %}
  <form class="d-flex gap-2 ms-2" role="search">
    <i class="bi bi-search d-none d-lg-inline-block navbar-text"></i>
    <input class="form-control" id="searchbar" type="search" name="{{ search_var }}" value="{{ cl.query }}" placeholder="{{ cl.search_help_text|default:'Search' }}" aria-label="{{ cl.search_help_text|default:'Search' }}">
    <button class="btn btn-outline-secondary" type="submit" value="{% translate 'Search' %}">
      <span class="d-none d-lg-inline-block">{% translate "Search" %}</span>
      <i class="bi bi-search d-inline-block d-lg-none"></i>
    </button>
    {% if show_result_count %}
      <span class="navbar-text">
        {% blocktranslate count counter=cl.result_count %}
          {{ counter }} result{% plural %}{{ counter }} results
        {% endblocktranslate %}
      </span>
      <a class="nav-link" href="?{% if cl.is_popup %}{{ is_popup_var }}=1{% if cl.add_facets %}&{% endif %}{% endif %}{% if cl.add_facets %}{{ is_facets_var }}{% endif %}">
        {% if cl.show_full_result_count %}
          {% blocktranslate with full_result_count=cl.full_result_count %}
            {{ full_result_count }} total
          {% endblocktranslate %}
        {% else %}
          {% translate "Show all" %}
        {% endif %}
      </a>
    {% endif %}
    {% for pair in cl.params.items %}
      {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
    {% endfor %}
  </form>
{% endif %}