{% load i18n %}
{% if fieldset_style == djbsc.STYLE_ACCORDION %}
  <div class="accordion-item">
    <h6 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fieldsetCollapse-{{ forloop.counter }}" {% if forloop.first %}aria-expanded="true" {% endif %} aria-controls="fieldsetCollapse-{{ forloop.counter }}">
        {% if fieldset.name %}
          {{ fieldset.name|upper }}
        {% else %}
          {% blocktranslate with pos=forloop.counter %}
            TAB {{ pos }}
          {% endblocktranslate %}
        {% endif %}
      </button>
    </h6>
    <div id="fieldsetCollapse-{{ forloop.counter }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}" data-bs-parent="#fieldsetAccordion">
      <div class="accordion-body">
        {% include "admin/includes/fieldset_strict.html" %}
      </div>
    </div>
  </div>
{% elif fieldset_style == djbsc.STYLE_TAB %}
  <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="fieldsetTabPanel-{{ forloop.counter }}" role="tabpanel" aria-labelledby="fieldsetTab-{{ forloop.counter }}" tabindex="0">
    {% include "admin/includes/fieldset_strict.html" %}
  </div>
{% else %}
  {% include "admin/includes/fieldset_strict.html" %}
{% endif %}