:root {
  --bs-breadcrumb-divider: "|";
}
@media (min-width: 992px) {
  .sidebar {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  .sidebar {
    position: absolute !important;
    z-index: 2000;
    left: 0;
    right: 0;
  }
  .sidenav-toggler-wrapper {
    display: none;
  }
  .sidenav-collapsible {
    display: inline-block !important;
  }
  .sidebar-dismiss-menu {
    display: inline-block !important;
  }  
}

.skip-to-content-link {
    position: absolute;
    top: -999px;
    margin: 5px;
    padding: 5px;
    background: var(--body-bg);
    z-index: 1;
}
.skip-to-content-link:focus {
    left: 0px;
    top: 0px;
}
#sidenav-toggler-wrapper {
  z-index: 10;
  left: calc(100% - 0.5em)!important;
}
.layout-container {
  min-height: 100vh;
}
.sidenav-toggler[aria-expanded=false] .icon-shrink {
  display: none;
}
.sidenav-toggler[aria-expanded=true] .icon-expand {
  display: none;
}

.sidebar-guide {
  width: 1.5em;
}
.sidebar-toggler {
  top: 1.5em;
}
.sidebar-dismiss-menu {
  display: none;
}


/* Custom styles para o botão "Selecionar Tudo" */
.custom-chooseall {
  color: gray; /* Cor de quando está inativo */
  text-decoration: none; /* Remove a cor azul e o sublinhado */
  cursor: not-allowed; /* Cursor de inativo */
}

.custom-chooseall.active {
  color: white; /* Cor de quando está ativo - tema escuro */
  cursor: pointer; /* Cursor padrão de link */
}

.custom-clearall {
  color: gray; /* Cor de quando está inativo */
  text-decoration: none; /* Remove a cor azul e o sublinhado */
  cursor: not-allowed; /* Cursor de inativo */
}

.custom-clearall.active {
  color: white; /* Cor de quando está ativo - tema escuro */
  cursor: pointer; /* Cursor padrão de link */
}

.arrow{
  color: white; /* Cor para a seta da direita */
}


.label-large {
  font-size: 18px; /* Ajuste o tamanho conforme necessário */
}

html:not([data-bs-theme]) .bs-theme-icon:not(.auto),
html[data-bs-theme="auto"] .bs-theme-icon:not(.auto),
html[data-bs-theme="light"] .bs-theme-icon:not(.light),
html[data-bs-theme="dark"] .bs-theme-icon:not(.dark) {
  display: none;
}
html[data-bs-theme="light"] .custom-chooseall.active,
html[data-bs-theme="light"] .custom-clearall.active,
html[data-bs-theme="light"] .arrow {
  color: black;
}
