.related-widget-wrapper {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.related-widget-wrapper-link img {
    filter: grayscale(100%); /* Deixa os ícones em tons de cinza */
    transition: filter 0.3s;
}

.related-widget-wrapper-link img:hover {
    filter: grayscale(0); /* Ícones coloridos ao passar o mouse */
}

.related-widget-wrapper-link {
    margin-right: 8px;
}
