{% with id=widget.attrs.id %}
<div {% if id %} id="{{ id }}"{% endif %} 
     {% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% else %} class="form-control"{% endif %}>
     
    {% for group, options, index in widget.optgroups %}
        {% if group %}
            <div><label>{{ group }}</label></div>
        {% endif %}
        
        {% for option in options %}
            <div>
                {% include option.template_name with widget=option %}
            </div>
        {% endfor %}
    {% endfor %}
    
</div>
{% endwith %}
