{% load djbs_extras %}
{% if field.use_fieldset %}
  <fieldset{% if field.help_text and field.auto_id and "aria-describedby" not in field.field.widget.attrs %} aria-describedby="{{ field.auto_id }}_helptext"{% endif %}>
  {% if field.label %}{{ field.legend_tag }}{% endif %}
{% else %}
  {% if field.label and field.widget_type != "checkbox" %}{{ field.label_tag }}{% endif %}
{% endif %}
{% if field.widget_type == "checkbox" %}{% get_theme_var 'CHECK_AS_SWITCH' as check_as_switch %}
  <div class="form-check{% if check_as_switch %} form-switch{% endif %}">
    {% if field.label %}{{ field.label_tag }}{% endif %}
{% endif %}
{{ field }}
{% if field.help_text %}<div class="helptext form-text"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{{ field.errors }}
{% if field.widget_type == "checkbox" %}</div>{% endif %}
{% if field.use_fieldset %}</fieldset>{% endif %}