{% load i18n djbs_extras %}
{% block actions %}
  {% block actions-form %}
    <input type="hidden" form="changelist-form" name="index" value="{{ action_index|default:0 }}"/>
    {% for field in action_form %}
      {% if field.name == "action" %}
        {% for option in field.field.widget.choices %}
          {% if option.0 != "" %}
            <button type="submit" form="changelist-form" class="nav-link action-button" title="{{ option.1 }}" name="action" value="{{ option.0 }}">
              {% tool_icon option.0 cl %}
              <span class="text-tool-{{ option.0 }} d-lg-none">{{ option.1 }}</span>
            </button>
          {% endif %}
        {% endfor %}
      {% else %}
        <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" class="select-across" form="changelist-form"/>
      {% endif %}
    {% endfor %}
  {% endblock %}
  {% block actions-submit %}{% endblock %}
  {% block actions-counter %}
    {% if actions_selection_counter %}
      {% if cl.result_count != cl.result_list|length %}
        <a class="question nav-link ms-2 d-none" href="#" title="{% blocktranslate with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}">
          {% icon "check-all" %}
          <span class="d-lg-none">{% blocktranslate with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktranslate %}</span>
        </a>
        <a class="clear nav-link ms-2 d-none" href="#" title="{% translate "Clear selection" %}">
          {% icon "remove" %}
          <span class="d-lg-none">{% translate "Clear selection" %}</span>
        </a>
      {% endif %}
      <span class="action-counter ms-2 navbar-text" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
      <span class="all ms-2 navbar-text d-none">{{ selection_note_all }}</span>
      {% endif %}
  {% endblock %}
{% endblock %}
