{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</div>
{% endblock %}

{% block content %}
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <p class="col-md-8 fs-4">{% translate 'Something’s wrong with your database installation. Make sure the appropriate database tables have been created, and make sure the database is readable by the appropriate user.' %}</p>
    </div>
  </div>
{% endblock %}
