{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block menu %}{% endblock %}

{% block navbar %}
  <div class='container p-2 bg-body'>
    <img src="{% static 'img/logo.svg' %}" height="48px"/>
    <span class="fw-bold ms-2">{{ site_header|default:_('Django administration') }}</span>
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
  {% if form.errors and not form.non_field_errors %}
    <div class="errornote alert alert-warning" role="alert">
      {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </div>
  {% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="errornote alert alert-danger">
          {{ error }}
      </div>
    {% endfor %}
  {% endif %}

  <div id="content-main">
    {% if user.is_authenticated %}
      <div class="errornote alert alert-danger">
      {% blocktranslate trimmed %}
        You are authenticated as {{ username }}, but are not authorized to
        access this page. Would you like to login to a different account?
      {% endblocktranslate %}
      </div>
    {% endif %}
    <div class="card col col-md-6 mx-auto">
      <div class="card-header">Login</div>
      <form action="{{ app_path }}" method="post" id="login-form" novalidate>{% csrf_token %}
        <div class="card-body">
          <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
            <div class="invalid-feedback">{{ form.username.errors }}</div>
          </div>
          <div class="form-row">
            {{ form.password.label_tag }} {{ form.password }}
            <div class="invalid-feedback">{{ form.password.errors }}</div>
          </div>
          <input type="hidden" name="next" value="{{ next }}">
          {% url 'admin_password_reset' as password_reset_url %}
          {% if password_reset_url %}
            <div class="password-reset-link">
              <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
            </div>
          {% endif %}
        </div>
        <div class="submit-row card-footer">
          <input type="submit" value="{% translate 'Log in' %}">
        </div>
      </form>
    </div>
{% endblock %}
