{% load admin_list djbs_extras %}
{% load i18n %}
<nav class="paginator">
  {% if pagination_required %}
    <ul class="pagination">
      {% if cl.page_num > 1 %}
        <li class="page-item">
          <a class="page-link" href="{% page_link cl 1 %}" aria-label="{% translate 'First page' %}">
            {% icon "rewind" %}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% page_link cl cl.page_num|add:-1 %}" aria-label="{% translate 'Previous page' %}">
            {% icon "chevron-left" %}
          </a>
        </li>
      {% endif %}
      {% for i in page_range %}
        <li class="page-item{% if i == cl.page_num %} active{% endif %}">
          {% if i == cl.paginator.ELLIPSIS %}
            <span class="page-link">{{ cl.paginator.ELLIPSIS }}</span>
          {% else %}
            <a class="page-link" href="{% page_link cl i %}">{{ i }}</a>
          {% endif %}
        </li>
      {% endfor %}
      {% if cl.page_num < cl.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="{% page_link cl cl.page_num|add:1 %}" aria-label="{% translate 'Next page' %}">
            {% icon "chevron-right" %}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% page_link cl cl.paginator.num_pages %}" aria-label="{% translate 'Last page' %}">
            {% icon "forward" %}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</nav>